/** colors **/
$bg: 		#F2E9D8;

$blue: 		#78A1BB;
$blue-jeans:#5BC0EB;
$black:		#333;
$gray:		#3D3E40;
$gray-dark: #333;
$grape:		#694A80;
$green: 	#98C632;
$gunmetal:	#292F36;
$jelly-bean:#D95252;
$ocre:		#DB7623;
$orange:	#E68D0B;
$magenta: #CC3375;
$purple:	#49334D;
$purple-dark: #443C55;
$red:		#D94848;
$red-dark:	#A63737;
$yellow-pastel: #FFFA87;
$white:		#F1F1F2;

/**BREAKERS - RESPONSIVE WIDTHS**/
$break-small: 320px;
$break-large: 1024px;
