/** colors **/
/**BREAKERS - RESPONSIVE WIDTHS**/
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
html, html body, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** responsive**/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img,
picture,
video,
embed {
  max-width: 100%; }

html, html body {
  height: 100%; }
  html body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F1F1F2;
    font-size: 62.5%; }
  html h1 {
    font-size: 3.8em; }
  html h2 {
    font-size: 2.4em; }
  html h3 {
    font-size: 1.6em; }
  html p {
    font-size: 1.2em; }
  html a {
    color: #F1F1F2; }
  html form div.field {
    display: block;
    text-align: left;
    width: 100%;
    margin: 4% 0; }
    html form div.field label {
      color: #694A80;
      font-size: 1.4em;
      font-weight: 700; }
    html form div.field input {
      width: 100%; }
      html form div.field input[type="text"], html form div.field input[type="password"], html form div.field input[type="email"] {
        border: none;
        border-radius: 2.5px;
        color: #694A80;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 1.4em;
        margin-top: 1%;
        padding: 3%; }
        html form div.field input[type="text"]:focus, html form div.field input[type="password"]:focus, html form div.field input[type="email"]:focus {
          outline: none;
          border: 1px solid #694A80; }
    html form div.field .status {
      font-size: 13px;
      font-weight: 300;
      padding: 10px;
      width: 100%;
      text-align: left;
      margin: 5px 0;
      border-radius: 2.5px; }
      html form div.field .status--error {
        background-color: #D95252;
        color: #F1F1F2; }
      html form div.field .status--success {
        background-color: #98C632;
        color: #F1F1F2; }

div.content {
  padding: 0.5em;
  color: #333; }

div.center {
  text-align: center; }

div.center--vertical, div.content--home, div.content--about, div.content--dev {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.btn {
  background-color: #694A80;
  border: none;
  border-radius: 2.5px;
  color: #F1F1F2;
  padding: 10px 17.5px; }
  .btn:hover {
    opacity: 0.85;
    transition: .3s all; }
  .btn:focus {
    outline: none; }
  .btn--full {
    width: 100%;
    padding: 3%; }

header {
  top: 0;
  position: fixed;
  padding: 2% 0;
  width: 100%; }
  @media only screen and (min-width: 340px) and (max-width: 1024px) {
    header {
      padding: 3.5% 0; } }
  @media only screen and (max-width: 340px) {
    header {
      padding: 7.5% 0; } }
  header.scroll {
    background: linear-gradient(left, #694A80, #8B4B99);
    background: -webkit-linear-gradient(left, #694A80, #8B4B99);
    border-bottom: 0.5px solid #F1F1F2;
    transition: 0.35s all; }
  header .logo-finance {
    color: #F1F1F2;
    font-size: 1.6em;
    font-weight: 700;
    float: left;
    padding-left: 2%; }
    @media only screen and (min-width: 340px) and (max-width: 1024px) {
      header .logo-finance {
        padding: 5px 0 0 2%; } }
    @media only screen and (max-width: 340px) {
      header .logo-finance {
        padding: 7px 0 0 4%; } }
    header .logo-finance:hover {
      color: #CC3375;
      cursor: pointer;
      transition: 0.3s all; }
  header nav {
    float: right;
    padding-right: 3em; }
    @media only screen and (min-width: 340px) and (max-width: 1024px) {
      header nav {
        display: none;
        left: -1000px; } }
    @media only screen and (max-width: 340px) {
      header nav {
        display: none;
        left: -1000px; } }
    header nav.open {
      background: linear-gradient(left, #694A80, #8B4B99);
      background: -webkit-linear-gradient(left, #694A80, #8B4B99);
      display: block;
      position: absolute;
      top: 0;
      left: 0; }
      header nav.open ul {
        height: 100vh;
        width: 100vw;
        margin-top: 5%;
        transition: 0.3s all; }
        header nav.open ul li {
          float: none;
          padding: 2% 5%; }
          header nav.open ul li a {
            font-size: 2.0em; }
    header nav ul li {
      float: left;
      padding: 0px 15px; }
      header nav ul li a {
        color: #F1F1F2;
        font-weight: 500;
        font-size: 1.6em;
        text-align: center;
        text-decoration: none; }
        header nav ul li a:hover {
          color: #D95252;
          transition: 0.3s; }
        header nav ul li a.login {
          background-color: #D95252;
          padding: 7.5px 12.5px;
          border-radius: 2px; }
          header nav ul li a.login:hover {
            background-color: #49334D;
            color: #F1F1F2; }
  header div.menu_mobile--sandwich {
    display: none;
    float: right;
    padding-right: 7.5%;
    width: 35px;
    z-index: 4; }
    @media only screen and (min-width: 340px) and (max-width: 1024px) {
      header div.menu_mobile--sandwich {
        display: block;
        padding-right: 5%; } }
    @media only screen and (max-width: 340px) {
      header div.menu_mobile--sandwich {
        display: block;
        padding-right: 12.5%; } }
    header div.menu_mobile--sandwich span {
      background-color: #F1F1F2;
      display: block;
      height: 4px;
      margin: 5px 0;
      transition: 0.4s;
      width: 30px; }
    header div.menu_mobile--sandwich--open span:nth-child(1) {
      -webkit-transform: rotate(-45deg) translate(-13px, 0px);
      transform: rotate(-45deg) translate(-13px, 0px); }
    header div.menu_mobile--sandwich--open span:nth-child(2) {
      opacity: 0; }
    header div.menu_mobile--sandwich--open span:nth-child(3) {
      -webkit-transform: rotate(45deg) translate(-12px, 0px);
      transform: rotate(45deg) translate(-12px, 0px); }

.content {
  text-align: center; }
  .content--home {
    background: linear-gradient(left, #694A80, #8B4B99);
    background: -webkit-linear-gradient(left, #694A80, #8B4B99);
    color: #F1F1F2;
    height: 80%; }
    .content--home h1 {
      font-size: 3.8em;
      font-weight: 500;
      color: #F1F1F2; }
    .content--home h3 {
      padding-top: 10px;
      font-size: 1.4em;
      font-weight: 300;
      color: #F1F1F2; }
  .content--about {
    color: #694A80;
    background-color: #F1F1F2;
    height: 100%;
    text-align: left; }
    .content--about h1, .content--about h3, .content--about p, .content--about ul {
      padding-left: 5%;
      padding-bottom: 10px;
      color: #694A80; }
      @media only screen and (max-width: 340px) {
        .content--about h1, .content--about h3, .content--about p, .content--about ul {
          padding-left: 2%; } }
    .content--about ul li {
      padding: 5px 0;
      font-size: 1.4em; }
  .content--dev {
    color: #F1F1F2;
    background: linear-gradient(left, #694A80, #8B4B99);
    background: -webkit-linear-gradient(left, #694A80, #8B4B99);
    text-align: right;
    padding: 10% 0 !important; }
    @media only screen and (max-width: 340px) {
      .content--dev {
        text-align: left;
        padding: 10% 2% !important; } }
    .content--dev h1, .content--dev h3, .content--dev p, .content--dev ul {
      padding-right: 5%;
      padding-bottom: 10px;
      color: #F1F1F2; }
  .content--login {
    background: #F1F1F2;
    text-align: center;
    padding: 0 !important; }
    @media only screen and (max-width: 340px) {
      .content--login {
        text-align: left; } }
    .content--login > div {
      width: 50%;
      height: 100%;
      float: left;
      padding: 7.5%; }
      @media only screen and (max-width: 340px) {
        .content--login > div {
          width: 100%;
          padding: 7% 2%; } }
    .content--login h1, .content--login h2, .content--login h3, .content--login p, .content--login ul {
      padding-right: 5%;
      padding-bottom: 10px;
      color: #694A80; }
