html{
	height: 100%;

	body{
		@extend html;
		font-family: 'Ubuntu', sans-serif;
		background-color: $white;
		font-size: 62.5%;
	}
}

//=====content=====
div.content{
	padding: 0.5em;
	color: $gray-dark;
}
div.center{
	text-align: center;
}
div.center--vertical{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
