html{
	height: 100%;

	body{
		@extend html;
		font-family: 'Ubuntu', sans-serif;
		background: $white;
		font-size: 62.5%;
	}
}

//=====content=====
.content{
	padding: 5px;
	color: $gray-dark;
}
.center-v{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.center-h{
	text-align: center;
}
