/** colors **/
/**BREAKERS - RESPONSIVE WIDTHS**/
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
html, html body, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** responsive**/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img,
picture,
video,
embed {
  max-width: 100%; }

html, html body {
  height: 100%; }
  html body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F1F1F2;
    font-size: 62.5%; }

div.content {
  padding: 0.5em;
  color: #333; }

div.center {
  text-align: center; }

div.center--vertical, div.content--home, div.content--about {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.content {
  text-align: center; }
  .content--home {
    background: linear-gradient(left, #694A80, #8B4B99);
    background: -webkit-linear-gradient(left, #694A80, #8B4B99);
    color: #F1F1F2;
    height: 80%; }
    .content--home h1 {
      font-size: 3.8em;
      font-weight: 500;
      color: #D95252; }
    .content--home h3 {
      padding-top: 10px;
      font-size: 14px;
      font-weight: 300; }
  .content--about {
    height: 100%;
    background-color: #F1F1F2;
    color: #694A80; }
    .content--about h1, .content--about h3 {
      padding-bottom: 10px; }

header {
  top: 0;
  position: fixed;
  padding: 2% 0;
  background-color: #333;
  width: 100%; }
  @media only screen and (min-width: 340px) and (max-width: 1024px) {
    header {
      padding: 3.5% 0; } }
  @media only screen and (max-width: 340px) {
    header {
      padding: 7.5% 0; } }
  header.scroll {
    background: linear-gradient(left, #694A80, #8B4B99);
    background: -webkit-linear-gradient(left, #694A80, #8B4B99);
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.32); }
  header .logo-finance {
    color: #F1F1F2;
    font-size: 1.6em;
    font-weight: 700;
    float: left;
    padding-left: 2%; }
    @media only screen and (min-width: 340px) and (max-width: 1024px) {
      header .logo-finance {
        padding: 5px 0 0 2%; } }
    @media only screen and (max-width: 340px) {
      header .logo-finance {
        padding: 7px 0 0 2%; } }
    header .logo-finance:hover {
      color: #CC3375;
      cursor: pointer;
      transition: 0.3s all; }
  header nav {
    float: right;
    padding-right: 3em; }
    @media only screen and (min-width: 340px) and (max-width: 1024px) {
      header nav {
        display: none; } }
    @media only screen and (max-width: 340px) {
      header nav {
        display: none; } }
    header nav.visible {
      background: linear-gradient(left, #694A80, #8B4B99);
      background: -webkit-linear-gradient(left, #694A80, #8B4B99);
      display: block;
      position: absolute;
      top: 0; }
      header nav.visible ul {
        height: 100vh;
        width: 100vw;
        transition: 0.5s height;
        margin-top: 5%; }
        header nav.visible ul li {
          float: none;
          padding: 2% 5%; }
    header nav ul li {
      float: left;
      padding: 0px 15px; }
      header nav ul li a {
        color: #F1F1F2;
        font-weight: 500;
        font-size: 1.6em;
        text-align: center;
        text-decoration: none; }
        header nav ul li a:hover {
          color: #DB7623;
          cursor: pointer;
          transition: 0.3s color; }
  header div.menu_mobile--sandwich {
    display: none;
    float: right;
    padding-right: 7.5%;
    width: 35px;
    z-index: 4; }
    @media only screen and (min-width: 340px) and (max-width: 1024px) {
      header div.menu_mobile--sandwich {
        display: block; } }
    @media only screen and (max-width: 340px) {
      header div.menu_mobile--sandwich {
        display: block; } }
    header div.menu_mobile--sandwich span {
      background-color: #F1F1F2;
      display: block;
      height: 4px;
      margin: 5px 0;
      transition: 0.4s;
      width: 30px; }
    header div.menu_mobile--sandwich--open span:nth-child(1) {
      -webkit-transform: rotate(-45deg) translate(-13px, 0px);
      transform: rotate(-45deg) translate(-13px, 0px); }
    header div.menu_mobile--sandwich--open span:nth-child(2) {
      opacity: 0; }
    header div.menu_mobile--sandwich--open span:nth-child(3) {
      -webkit-transform: rotate(45deg) translate(-12px, 0px);
      transform: rotate(45deg) translate(-12px, 0px); }
